#feedback-link {
	position: relative;
}

.feedbackActive {
	background-color: #A0ACC0;
}

#feedback-content {
	width: 14em;
}

#feedback-content td {
	text-align: right;
}

#feedback-email {
	width: 98%;
}
#feedback-textarea {
	width: 98%;
}
#feedback-cancel {
	margin-left: 5px;
}

.feedback-label {
	padding-bottom: 9px;
	line-height: 100%;
}

#feedbackBox {
	padding: 5px;
	width: 190px;
    font-size: 13px;
	font-family: tahoma,verdana,helvetica,sans-serif;
    color: #FFFFFF;
	text-align:right;

	position: fixed;
	right: 2px;
	display: none;
	z-index: 1
}

#feedbackContainer {
	height: 21px;
	vertical-align: middle;
}

/*
#spot_content tr {
	text-align: center;
}
*/

#spot_form textarea {
	height: 72px;
	width: 230px;
	margin: 0;
	margin-left: 4px;
}

#spot_comment {
	font-size: 12px;
	line-height: 12px;
}

#spot_art {
	float:left;
}

#spot_controls tr {
	text-align: right;
}

#dialog-window form {
	text-align: right;
	overflow: auto;
}

#dialog-window button {
	margin-left: 4px;
}
