<%inherit file="pagebase.mako.html" />

<div class="title">About Us</div>
<div>
    <p>
    harmonize.fm was started, as many small software companies are, to scratch a
    personal itch. We are avid music enthusiasts and were
    constantly frustrated by our inability to easily and legally share music with our
    friends. As we went through college, we constantly found ourselves
    in social situations discussing the latest and greatest music of the day.
    However, we were unable to share the very music we were discussing. That
    made these discussions almost entirely one sided, and unrewarding in many
    ways. The constant mantra of one of our founders was "Wouldn't it be great
    if there was some site that allowed us to legally share this with our
    friends?"
    </p>
    <p>
    That question is what started harmonize. The founders realized that the
    tried and true methods of sharing music in the past had yet to find a
    digital equivalent. We set out to change that, and harmonize.fm is the
    result. Using harmonize, you can share and discuss music easily and without
    unreasonable limitations or annoying ads. All that we ask is that when you discover
    something, you buy it. That way, we can build a social music
    environment where everybody benefits.
    </p>
</div>
