<%inherit file="pagebase.mako.html" />

<%def name="title()">
    not supported
</%def>

<div class="title">No harmonizer available</div>
<div class="aspect">
    We're sorry, but we do not have an uploader that supports your particular
    platform at this time. If you have a Mac or Windows computer, you can use
    those to synchronize your music with harmonize.fm. We hope to support more
    platforms in the future, so check back later or click the link below to
    receive an email when we release a harmonizer for your platform.
    <div class="aspect-link"><a href="/request/support">
        Request to be emailed when we support your platform</a>
    </div>
</div>
