<%inherit file="pagebase.mako.html" />
<%namespace file="/helpers.mako" import="dl_harmonizer_a"/>

<div id="connect">
    <img src="/images/connect.png" alt="Connect with your music" />
</div>
<div class="aspect">
    <div class="aspect-title">Listen to your music anywhere.</div>
    <div class="aspect-text">
        harmonize.fm allows you to listen to your music anywhere you are. 
        All you need to do is download a little program we call the "harmonizer". 
        It ensures that your library is always in sync with our site.
        <!-- Don't make this available until public
        <div class="aspect-link" style="text-decoration:none">
            <%call expr="dl_harmonizer_a()">
                <img src="/images/dlharmonizerlong.png" />
            </%call>
        </div>
        -->
    </div>
</div>
<div class="aspect">
    <div class="aspect-title">Discover new music.</div>
    <div class="aspect-text">
        Listen to your friends Spotlights as much as you want. 
        We let you listen to recommendations and Spotlights all the way
        through so you know whether you've found something great.
    </div>
</div>
<div class="aspect">
    <div class="aspect-title">Share music with your friends.</div>
    <div class="aspect-text">
        Spotlight albums and playlists to let your friends listen 
        to them. Recommend artists, albums, and songs. Discuss 
        your favorite bands and help the world discover the 
        next big thing.
    </div>
</div>
<div class="aspect">
    <div class="aspect-title">Get started soon.</div>
    <div class="aspect-text">
        harmonize.fm is in private beta right now. When we release, all you'll
        need to get started is a facebook account.
        <div class="aspect-link" style="text-decoration:none;">
            <a href="request/invitation">
                <img src="/images/invitebutton.png" />
            </a>
        </div>
        <div class="aspect-link">
            <a href="http://www.facebook.com">Get a facebook account</a>
        </div>
    </div>
</div>
