<%inherit file="pagebase.mako.html" />
<div class="title">Oops!</div>
<div class="aspect">
    We're sorry, we do not currently support Internet Explorer 6. Please
    <a href="http://www.microsoft.com/windows/products/winfamily/ie/default.mspx">
    upgrade to Internet Explorer 7</a> or Firefox to use harmonize.fm.
    <center style="padding-top: 20px;">
    <a href="http://www.spreadfirefox.com/node&id=0&t=306">
        <img border="0" alt="Firefox 3" title="Firefox 3" 
        src="http://sfx-images.mozilla.org/affiliates/Buttons/firefox3/110x32_get_ffx.png"/>
    </a>
    </center>
</div>
