.h-light-form textarea {
    border: 1px solid ${c.profile.light_form}
}

.h-light-form input {
    border: 1px solid ${c.profile.light_form}
}

.h-mask {
    opacity: .5;
}

.h-subtitle {
    font-size: 14pt;
    color: ${c.profile.profile_subtitle};
    border-bottom: 1px solid ${c.profile.profile_border};
	padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.h-title {
    font-size: 16pt;
    color: ${c.profile.dark_txt};
}

button {
	background-color: ${c.profile.top_bg};
	color: white;
	padding: 2px 3px;
	margin: 0 3px;
	text-decoration: none;
    border-top: 0;
    border-left: 0;
	border-right: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
	font-size: ${c.profile.font_size};
	font-family: ${c.profile.font_family};
	cursor: pointer;
}

button * {
	padding: 0;
}

button:hover {
	background-color: ${c.profile.oddrow_bg};
	color: #333;
}

h-menu-a a {
    padding: 0px;
    margin: 0px;
}

.a-button {
	background-color: ${c.profile.top_bg};
	color: white;
	padding: 4px 5px 4px 5px;
    line-height: 25px;
	margin: 0 3px;
	text-decoration: none;
	border-right: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
}

.a-button:hover {
	background-color: ${c.profile.oddrow_bg};
	color: #333;
}
