<%!
    from masterapp.lib.profile import Profile
%>
textarea {
    border: 1px solid ${Profile.light_form}
}

input {
    border: 1px solid ${Profile.light_form}
}

.h-dlg-buttons {
    text-align: right;
}

.h-mask {
    opacity: .5;
}

.h-subtitle {
    font-size: 14pt;
    color: ${Profile.profile_subtitle};
    /*border-bottom: 1px solid ${Profile.profile_border};*/
	padding-top: 10px;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.h-title {
    font-size: 16pt;
    color: ${Profile.dark_txt};
	text-align: center;
	padding-bottom: 4px;
}

.h-title a{
    color: ${Profile.dark_txt} !important;
}

.h-title a:hover{
    color: ${Profile.click} !important;
}

button, .h-button {
	background-color: ${Profile.top_bg};
	color: white;
	padding: 2px 3px;
	margin: 0 3px;
	text-decoration: none;
    border-top: 0;
    border-left: 0;
	border-right: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
	font-size: ${Profile.font_size};
	font-family: ${Profile.font_family};
	cursor: pointer;
}

button * {
	padding: 0;
}

button:hover {
	background-color: ${Profile.oddrow_bg};
	color: #333;
}

.h-menu-a a {
    padding: 0px;
    margin: 0px;
}

img {
    border: none;
}

.a-button {
	background-color: ${Profile.top_bg};
	color: white;
	padding: 4px 5px 4px 5px;
    line-height: 25px;
	margin: 0 3px;
	text-decoration: none;
	border-right: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
}

.a-button:hover {
	background-color: ${Profile.oddrow_bg};
	color: #333;
}
